MASSIVE_API_KEY=PUT_YOUR_MASSIVE_API_KEY_HERE
MASSIVE_BASE_URL=https://api.massive.com
MIN_PRICE=5
MIN_MARKET_CAP=2000000000
MIN_GAP_PCT=5
MIN_PREMARKET_VOLUME=1000000
MIN_RVOL=50
RVOL_LOOKBACK_SESSIONS=20
